*{
  position:relative;
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #ff0;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.6;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("../img/img_parallax.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../img/img_parallax2.jpg");
  min-height: 450px;
  opacity: 0.3;
  h1{
    text-align: center;
    position: relative;
    line-height: 450px;
    margin: 0;
  }
}

.bgimg-3 {
  background-image: url("../img/img_parallax3.png");
  min-height: 600px;
  opacity: 1;
}

.bgimg-4 {
  background-image: url("../img/img_parallax1.jpg");
  min-height: 600px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  .dark_btn {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    width: 100%;
    height: 100%;
  }
}


//menu
.menu_box{
  display: block;
  text-align: center;
  margin: 0 auto;
  .menu_item{
    display: inline-block;
    position: relative;
    margin: 10px;
    width: 200px;
    height: 200px;
    &:hover{
      .lines{
        path{
          stroke-dashoffset: 0;
        }
      }
      .front{
        transition: opacity 1s ;
        opacity: 0;
      }
      .back{
        transition: opacity 1s ;
        opacity: 1;
      }
    }
    .front{
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
    }
    .back{
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
    .lines_box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .lines {
      fill: none;
      stroke: #fff;
      stroke-width: 2.5px;

      > path {
        stroke-dasharray: 1270;
        stroke-dashoffset: 1270;
        transition: stroke-dashoffset 0.7s;
        //background: rgba(256, 256,256,0.5);
      }
    }
  }
}

.description_box {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 20px 50px;
  h3 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  p{
    font-size: 14px;
  }
  img{
    display:block; 
    margin:auto;
    width: 300px;
    height: 400px;
  }
}

.box2{
  color:#ddd;
  background-color:#123;
  text-align:center;
  padding:15px;
  text-align: justify;
  font-size: 25px;
}


//event

.event_box {
  padding: 85px 0px 0px 0px ;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  li {
    display: inline-block;
    width: 350px;
    padding: 3px;
    position: relative;
    border: 3px solid #fff;
    height: 435px;
    figure {
      margin: 0;
      position: relative;
      overflow: hidden;
      &:hover{
        img{
          -webkit-transform: translateY(-50px);
          -moz-transform: translateY(-50px);
          -ms-transform: translateY(-50px);
          transform: translateY(-50px);
        }
      .cs-hover{
        img{
          -webkit-transform: translateY(-50px);
          -moz-transform: translateY(-50px);
          -ms-transform: translateY(-50px);
          transform: translateY(-50px);
          }
        figcaption{
          opacity: 1;
          -webkit-transform: translateY(0px);
          -moz-transform: translateY(0px);
          -ms-transform: translateY(0px);
          transform: translateY(0px);
          -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
          -moz-transition: -moz-transform 0.4s, opacity 0.1s;
          transition: transform 0.4s, opacity 0.1s;
        }     
        }
        figcaption{
          opacity: 1;
          -webkit-transform: translateY(0px);
          -moz-transform: translateY(0px);
          -ms-transform: translateY(0px);
          transform: translateY(0px);
          -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
          -moz-transition: -moz-transform 0.4s, opacity 0.1s;
          transition: transform 0.4s, opacity 0.1s;
        }    
      }
      img {
        max-width: 100%;
        display: block;
        position: relative;
        -webkit-transition: -webkit-transform 0.4s;
        -moz-transition: -moz-transform 0.4s;
        transition: transform 0.4s;
      }
      figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        background:#fff;
        height: 70px;
        width: 100%;
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
        -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
        -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
        transition: transform 0.4s, opacity 0.1s 0.3s;
        span {
          color: #123;
          font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
          font-size: 15px;
        }
        a {
          text-align: center;
          padding: 5px 10px;
          border-radius: 2px;
          display: inline-block;
          background: #fff;
          color: #123;
          position: absolute;
          bottom: 20px;
          right: 20px;
        }
      }
    }
  }
}
//contact
.contact_box{
  margin: 0 auto;
  width: 500px;
  height: 315px;
  border:1px solid #fff;
  background-image: url("../img/end.png");
  position: relative;
  top: 130px;
    .social_box{
          position: absolute;
          bottom: 8px;
          left: 113px;
      .social{
        display: inline-block;
        width: 130px;
        height: 130px;
        margin: 3px;
        img{
          width: 100%;
        }
        &:hover{
          border: 3px solid #ff0;
          box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
        }
      }
    }
}
//RWD
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: scroll;
  }
}